<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @goal.total_value %>
</p>

<% @goal.daily_goals.each do |daily_goal|%>
  <% n = daily_goal.sellers.count %>
  <% daily_goal.sellers.each do |seller|%>
    <p>Vendedor: <%= seller.name %></p>
    <p>Valor: R$ <%= daily_goal.value / n  %> </p>
  <% end %>
<% end %>


<%= link_to 'Back', goals_path %>
