<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Indeva</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Navbar -->
      <%= render 'shared/navbar'%>
      <!-- Main Sidebar -->
      <%= render 'shared/sidebar'%>
      <!-- Content Wrapper -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content container-fluid">
          <%= yield %>
        </section>
      </div> <!-- /.content -->
    </div> <!-- /.content-wrapper -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/toastr' %>
  </body>
</html>
